.purple {
    background-color: #141A23;
}

.red {
    background-color: #E83143;
}

.green {
    background-color: #63703A;
}

.yellow {
    background-color: #F5AB27;
}

.blue {
    background-color: #273247;
}

.transparent {
    background-color: transparent;
}