@import "colors.css";
@import url(layout.css);
@import url(navbar.css);

body,
h1,
div {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 17vw;
  line-height: 1;
  color: #c7352d;
  background-size: 290px auto;
  text-transform: lowercase;
  position: relative;
  box-sizing: border-box;
}

h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 74pt;
  line-height: 1;
  color: #c7352d;
  text-transform: lowercase;
}

h3 {
  font-family: 'Decima Mono', monospace;
  font-size: 1.5vw;
  color: #fff;
  line-height: 2.2;
  background: #282925;
}

p {
font-family: 'Decima Mono', monospace;
line-height: 1;
font-size: 15pt;
color: #fff;
line-height: 2.2;
padding: 0 0.5em;
background: #282925;
display: inline-block;
}


li::before {
  content: '-';
  display: inline-block;
  margin: 0 0.3em 0 0;
}

li {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 3.2vw;
  line-height: 1.2;
  text-transform: lowercase;
  color: #fff;
  text-transform: lowercase;
  background: #282925;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0;
}

/* block element with known height */
.pos-relative {
  position: relative;
}

/* .v-centered-block {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
} */

/* with unknown height */
.v-centered-block {
  height: 160px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 100%;
}

/* block element verticaly and horizontaly centered - known height/width */
/* .v-h-centered-block {
    height: 140px;
    width: 140px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -70px;
    margin-left: -70px;
} */

/* for unknown height/width */
.v-h-centered-block {
  height: 140px;
  width: 140px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
