@import "colors.css";
@import url(layout.css);
@import url(navbar.css);

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.location-upper::before {
  left: -9vw;
}

.location-upper::before {
  content: " ";
  position: absolute;
  background-image: url("Red-grid.png");
  background-position: bottom right;
  background-size: 10vw auto;
  top: 0;
  left: -8vw;
  width: 18vw;
  height: 175vw;
  pointer-events: none;
  user-select: none;
  z-index: 15;
}

.location-upper {
  background-image: url("homepage-banner.jpg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #f8f5ef;
}


.section.marquee-banner {

  height: auto;

}

.section.marquee-banner .text {
  position: relative;
  padding: 58vw 0 10vw 16vw;
  top: auto;
  left: auto;
  width: auto;
}

.section.marquee-banner .text h1 {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #c7352d;
  text-transform: lowercase;
  position: relative;
  font-size: 17vw;
  white-space: normal;
  animation: none;
}

/* About */

.section.about {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 6vw;
  z-index: 20;
}

.section.about .image {
  width: 72vw;
}

.section.about .image {
  position: relative;
  width: 45vw;
}