header {
    z-index: 900;
  }
  header:before {
    display: none;
    content: " ";
    position: fixed;
    top: 0;
    right: 0;
    width: 13vw;
    height: 18vw;
    background: #282925;
    z-index: 890;
  }
  header .brand {
    position: absolute;
    display: block;
    top: 6vw;
    left: 45vw;
    width: 10vw;
    z-index: 910;
  }
  header .toggle-menu {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: 3.5vw;
    height: 3.5vw;
    z-index: 930;
  }
  header .toggle-menu .icon {
    top: 1.55vw;
    left: 0;
    height: 0.4vw;
    width: 100%;
    position: absolute;
    display: block;
  }
  header .toggle-menu .icon:before,
  header .toggle-menu .icon:after {
    content: " ";
    left: 0;
    height: 0.4vw;
    width: 100%;
    display: block;
    background: #c18c5e;
    position: absolute;
  }
  header .toggle-menu .icon:before {
    bottom: 0.6vw;
    transition: bottom 0.3s 0.3s, transform 0.3s;
  }
  header .toggle-menu .icon:after {
    top: 0.6vw;
    transition: top 0.3s 0.3s, transform 0.3s;
  }
  body.reveal-menu header .toggle-menu .icon:before {
    bottom: 0;
    transition: bottom 0.3s, transform 0.3s 0.3s;
    transform: rotate(-45deg);
  }
  body.reveal-menu header .toggle-menu .icon:after {
    top: 0;
    transition: top 0.3s, transform 0.3s 0.3s;
    transform: rotate(45deg);
  }
  @media screen and (max-width: 782px) {
    header:before {
      display: block;
    }
    header .brand {
      top: 10vw;
      width: 20vw;
      left: 16vw;
    }
    header .toggle-menu {
      top: 8vw;
      right: 3vw;
      width: 7vw;
      height: 7vw;
    }
    header .toggle-menu .icon {
      top: 3.1vw;
      height: 0.8vw;
    }
    header .toggle-menu .icon:before,
    header .toggle-menu .icon:after {
      background: #fff;
      height: 0.8vw;
    }
    header .toggle-menu .icon:before {
      bottom: 1.2vw;
    }
    header .toggle-menu .icon:after {
      top: 1.2vw;
    }
  }
  nav.header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(40, 41, 37, 0.95);
    height: 0;
    display: -ms-flexbox;
    display: flex;
    padding: 4vw 0 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transform: translateY(-100%);
    overflow: hidden;
    z-index: 920;
    transition: height 0.8s cubic-bezier(0.77, 0, 0.175, 1),
      transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  nav.header-navigation .inner {
    opacity: 0;
    transition: opacity 0.3s;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  nav.header-navigation .logo {
    padding: 0.5vw 0 0;
    width: 18vw;
  }
  nav.header-navigation .logo img {
    width: 8vw;
  }
  nav.header-navigation ul {
    width: 60vw;
    height: 36vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  nav.header-navigation ul li {
    width: 30vw;
    height: 12vw;
  }
  nav.header-navigation ul li a {
    display: block;
    text-decoration: none;
  }
  nav.header-navigation ul li a:hover span.name {
    color: #c18c5e;
    text-decoration: underline;
    text-underline-position: under;
  }
  nav.header-navigation ul li a:hover span.description {
    opacity: 1;
    color: #c18c5e;
  }
  nav.header-navigation ul li a span {
    display: block;
  }
  nav.header-navigation ul li a span.name {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 5.6vw;
    text-transform: lowercase;
    color: #4f5149;
    margin: 0 0 2vw;
    transition: color 0.2s;
  }
  @media screen and (max-width: 782px) {
    nav.header-navigation ul li a span.name {
      font-size: 11vw;
    }
  }
  nav.header-navigation ul li a span.description {
    font-family: "Decima Mono", monospace;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1vw;
    color: #c18c5e;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 0.2s;
  }
  @media screen and (max-width: 782px) {
    nav.header-navigation ul li a span.description {
      font-size: 3vw;
    }
  }
  .reveal-menu nav.header-navigation {
    transform: translateX(0);
    height: 46vw;
  }
  .reveal-menu nav.header-navigation .inner {
    opacity: 1;
    transition: opacity 0.4s 0.4s;
  }
  @media screen and (max-width: 782px) {
    nav.header-navigation .inner {
      width: 81vw;
    }
    nav.header-navigation .logo {
      display: none;
    }
    nav.header-navigation ul {
      height: auto;
    }
    nav.header-navigation ul li {
      width: 81vw;
      height: auto;
      margin: 0 0 3vw;
    }
    nav.header-navigation ul li a span.name {
      font-family: "Gilroy", sans-serif;
      font-weight: bold;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 3.2vw;
      line-height: 1.2;
      text-transform: lowercase;
      margin: 0 0 2vw;
      color: #c18c5e;
      text-decoration: underline;
      text-underline-position: under;
    }
  }
  @media screen and (max-width: 782px) and (max-width: 782px) {
    nav.header-navigation ul li a span.name {
      font-size: 6.4vw;
    }
  }
  @media screen and (max-width: 782px) {
    nav.header-navigation ul li a span.description {
      opacity: 1;
    }
    .reveal-menu nav.header-navigation {
      transform: translateX(0);
      height: 130vw;
    }
  }
  .section.menus {
    background-image: url("menus-background.jpg");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0 0 9vw;
    position: relative;
  }
  .section.menus:before {
    content: " ";
    position: absolute;
    top: 35vw;
    left: 0;
    right: 0;
    bottom: -4vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    background-image: url("Red-grid.png");
    background-size: 10vw auto;
    z-index: 10;
  }
  .section.menus .upper {
    position: relative;
    z-index: 20;
    padding: 9vw;
  }
  .section.menus .upper .lead-in {
    font-family: "Decima Mono", monospace;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5vw;
    text-decoration: underline;
    text-underline-position: under;
    margin: 0 0 3vw;
    display: inline-block;
  }
  @media screen and (max-width: 782px) {
    .section.menus .upper .lead-in {
      font-size: 3vw;
    }
  }
  .section.menus .upper h2 {
    padding: 0 0.8em;
  }
  .section.menus .upper h2 span {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12vw;
    text-transform: lowercase;
    background: #282925;
    color: #c18c5e;
    line-height: 1.35;
    box-shadow: 0 0 0 0.1em #282925;
  }
  @media screen and (max-width: 782px) {
    .section.menus .upper h2 span {
      font-size: 18vw;
    }
  }